body {
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	font-weight: 500;
	background: hsl(210, 46%, 95%);
	color: hsl(217, 19%, 35%);
}

.attribution {
	display: block;
	font-size: 11px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 30px;
	width: 100%;
	background: #ccc;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

// * * * * * * * * * * * * * *

#article-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	height: 350px;
	width: 850px;
	background: #fff;
	box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	overflow: hidden;
	animation: all 02s ease-in-out;

	&:hover {
		box-shadow: 2px 3px 20px 5px rgba(0, 0, 0, 0.33);
	}

	#article-image {
		width: 350px;
		height: 350px;
		object-fit: cover;
	}

	#article-infos {
		padding: 30px 50px;
	}

	.title {
		font-size: 1.5rem;
		font-weight: 700;
	}

	p {
		color: hsl(214, 17%, 51%);
	}

	#article-footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 20px 0;

		#author {
			display: flex;
			align-items: flex-start;
			img {
				width: 50px;
				border-radius: 50%;
			}

			#name {
				height: 50px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-evenly;
				padding-left: 20px;
				h3 {
					font-weight: 700;
					margin: 0;
				}
				.date {
					margin: 0;
				}
			} // end of #name
		} // end of #author

		#share {
			background: hsl(210, 46%, 95%);
			height: 30px;
			width: 30px;
			margin-top: 10px;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 14px;
			}
		}
	} //end of #article-footer
}
