body {
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	background: #fff;
}

.attribution {
	display: block;
	font-size: 11px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 30px;
	width: 100%;
	background: #ccc;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

// * * * * * * * * * * * * * *

#article-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 400px;
	width: 900px;
	box-shadow: 2px 3px 20px 5px rgba(0, 0, 0, 0.5);
	display: flex;

	#article-image {
		width: 400px;
		height: 400px;
		object-fit: cover;
	}

	#article-infos {
		padding: 50px 30px;
	}
}
